{% extends 'admin/layout.html' %}

{% block content %}
<h1>Create Stipend</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.organization_id.label }} {{ form.organization_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.summary.label }} {{ form.summary(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.homepage_url.label }} {{ form.homepage_url(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.application_procedure.label }} {{ form.application_procedure(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.eligibility_criteria.label }} {{ form.eligibility_criteria(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.application_deadline.label }} {{ form.application_deadline(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.open_for_applications.label }} {{ form.open_for_applications() }}
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
