Flask
Flask-WTF
Flask-Login
Flask-SQLAlchemy
Werkzeug
pytz
email-validator
python-dotenv
psycopg2-binary
Flask-Migrate
requests
flask-limiter

bleach
markdown
flask-htmx
safety
croniter

coverage 
prometheus-flask-exporter