freezegun==1.2.2
pytest==7.0.0
Flask==2.3.2
Flask-SQLAlchemy==3.0.5
alembic==1.11.1
python-dotenv==1.0.0
SQLAlchemy==2.0.20
Flask-Login==0.6.2
Flask-WTF==1.2.1
WTForms==3.0.1
flask-migrate==4.0.5
pytz==2023.3
Flask-Limiter==3.0.0
python-json-logger==2.0.7
requirements-parser==0.5.0
setuptools==68.0.0
redis==5.0.0
bleach==6.0.0
flask_testing==0.8.1
croniter>=1.4.0,<2.0.0
pytest
freezegun
Flask
