{% extends "base.html" %}

{% block content %}
<div class="user-edit-form p-4 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Edit User</h2>
    <form method="POST" action="" class="space-y-4">
        {{ form.hidden_tag() | safe }}  <!-- Ensure CSRF token renders correctly -->
        <div class="flex flex-col space-y-1">
            {{ form.username.label(class_="text-gray-700") }}
            {{ form.username(size=32, class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-500") }}
        </div>
        <div class="flex flex-col space-y-1">
            {{ form.email.label(class_="text-gray-700") }}
            {{ form.email(size=64, class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-500") }}
        </div>
        <div class="flex flex-col space-y-1">
            {{ form.password.label(class_="text-gray-700") }}
            {{ form.password(size=32, class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-500") }}
        </div>
        <div class="flex flex-col space-y-1">
            {{ form.is_admin.label(class_="text-gray-700") }}
            {{ form.is_admin(class_="form-check-input h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded") }}
        </div>
        <input type="submit" value="Update" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    </form>
</div>
{% endblock %}
