{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Create User</h1>
    <form method="POST" action="{{ url_for('admin.user.create') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class_="form-label") }}
            {{ form.username(class_="form-control", value=form.username.data) }}
        </div>
        <div class="form-group">
            {{ form.email.label(class_="form-label") }}
            {{ form.email(class_="form-control", value=form.email.data) }}
        </div>
        <div class="form-group">
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control") }}
        </div>
        <div class="form-group form-check">
            {{ form.is_admin(class_="form-check-input", value=form.is_admin.data) }}
            {{ form.is_admin.label(class_="form-check-label") }}
        </div>
        <button type="submit" class="btn btn-primary">Create User</button>
    </form>
</div>
{% endblock %}