{% extends "admin/base.html" %}

{% block content %}
<h1>Stipends</h1>
<a href="{{ url_for('stipend.create') }}">Create Stipend</a>
<ul>
    {% for stipend in stipends %}
        <li>
            {{ stipend.name }}
            <a href="{{ url_for('stipend.edit', id=stipend.id) }}">Edit</a>
            <form action="{{ url_for('stipend.delete', id=stipend.id) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
