{% extends 'base.html' %}

{% block title %}Manage Bots{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">Manage Bots</h1>
    <div class="overflow-x-auto">
        <table id="bots" class="w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for bot in bots %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ bot.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ bot.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ bot.description }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ bot.status }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% from "_macros.html" import edit_button %}
                        {{ edit_button(url_for('admin.bot.edit', id=bot.id), 'body > main') }}
                        {% from "_macros.html" import delete_button %}
                        {{ delete_button(url_for('admin.bot.delete', id=bot.id), 'closest tr') }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
