<nav>
    <ul>
        <li><a href="{{ url_for('routes.admin_stipend.index') }}">Manage Stipends</a></li>
        <li><a href="{{ url_for('routes.admin_tag.index') }}">Manage Tags</a></li>
        <li><a href="{{ url_for('routes.admin_org.index') }}">Manage Organizations</a></li>
        <li><a href="{{ url_for('routes.admin_user.index') }}">Manage Users</a></li>
        <li><a href="{{ url_for('routes.admin_bot.index') }}">Manage Bots</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</nav>
