<nav>
    <ul>
        <li><a href="{{ url_for('admin_stipend.index') }}">Manage Stipends</a></li>
        <li><a href="{{ url_for('admin_tag.index') }}">Manage Tags</a></li>
        <li><a href="{{ url_for('admin_org.index') }}">Manage Organizations</a></li>
        <li><a href="{{ url_for('admin_user.index') }}">Manage Users</a></li>
        <li><a href="{{ url_for('admin_bot.index') }}">Manage Bots</a></li>
        <li><a href="{{ url_for('routes.visitor.logout') }}">Logout</a></li>
    </ul>
</nav>
