{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>
<div id="bots">
    <hx-get href="{{ url_for('admin_bot.index') }}" hx-target="#bots" hx-swap="innerHTML"></hx-get>
    <!-- Bot dashboard will be loaded here -->
</div>
<a href="{{ url_for('admin_stipend.index') }}">Manage Stipends</a>
<a href="{{ url_for('admin_tag.index') }}">Manage Tags</a>
<a href="{{ url_for('admin_org.index') }}">Manage Organizations</a>
<a href="{{ url_for('admin_user.index') }}">Manage Users</a>
{% endblock %}
