<a href="{{ url_for('admin.admin_stipend.index') }}">Manage Stipends</a>
<a href="{{ url_for('admin.admin_tag.index') }}">Manage Tags</a>
<a href="{{ url_for('admin.admin_org.index') }}">Manage Organizations</a>
<a href="{{ url_for('admin.admin_user.index') }}">Manage Users</a>
<div id="bots">
    <hx-get href="{{ url_for('admin.admin_bot.index') }}" hx-target="#bots" hx-swap="innerHTML"></hx-get>
</div>

<div id="dashboard-data">
    <hx-get href="{{ url_for('admin.dashboard.data') }}" hx-trigger="every 5s" hx-target="#dashboard-data" hx-swap="innerHTML"></hx-get>
</div>
