{% extends 'admin/_admin_nav.html' %}

{% block content %}
<h1>Manage Organizations</h1>
<a href="{{ url_for('admin.organization.create') }}">Create New Organization</a>

<div style="overflow-x: auto;">
    <table id="organizations">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for organization in organizations %}
            <tr>
                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>
                    <button 
                        hx-confirm="Are you sure you want to delete this organization?"
                        hx-delete="{{ url_for('admin.organization.delete', id=organization.id) }}"
                        hx-target="closest tr"
                        hx-swap="outerHTML swap:0.5s">
                         Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
