{% extends 'base.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
<h1>Create User</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=64) }}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </div>
    <div>
        {{ form.is_admin.label }}<br>
        {{ form.is_admin() }}
    </div>
    <button type="submit">Create</button>
</form>
{% endblock %}
