<nav>
    <ul>
        <li><a href="{{ url_for('admin_stipend.index') }}">Manage Stipends</a></li>
        <li><a href="{{ url_for('admin_tag.index') }}">Manage Tags</a></li>
        <li><a href="{{ url_for('admin_org.index') }}">Manage Organizations</a></li>
        <li><a href="{{ url_for('admin_user.index') }}">Manage Users</a></li>
        <li><a href="{{ url_for('admin_bot.index') }}">Manage Bots</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('visitor.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('visitor.login') }}">Login</a></li>
            <li><a href="{{ url_for('visitor.register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
